<div class="wrapper row1">
<header id="header" class="clear">
    <hgroup>
        <h1><a href="@routes.Application.index()">@Application.applicationName</h1>
        <h2>Simplified DNS Management</h2>
    </hgroup>

    <nav>
        <ul>
            <li><a href="@routes.Application.showQueryDNS()">Get DNS Entries</a></li>
            <li><a href="#">Text Link</a></li>
            <li><a href="#">Text Link</a></li>
            <li><a href="#">Text Link</a></li>
            <li class="last"><a href="#">Text Link</a></li>
        </ul>
    </nav>
</header>
</div>